<% provide(:title, "Edit user") %> 
<h1>Edit your profile</h1>

<div class="row">
	<div class="span9 offset2">
		<%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
		
		  <%= render 'shared/error_messages', :object => f.object %>

		    <div class="control-group">
			  <%= f.label :email, "Email", :class => "control-label" %>
			  <div class="controls">
			    <%= f.text_field :email, class: "input-large", placeholder: "Email", autofocus: true %>
			  </div>
            </div>
			
		    <div class="control-group">
			  <%= f.label :password, :class => "control-label" %>
			  <div class="controls">
			    <%= f.password_field :password, class: "input-large", placeholder: "Password" %>
			    <span class="help-inline">8 character minimum</span>
			  </div>
            </div>
			
		    <div class="control-group">
			  <%= f.label :password_confirmation, "Password Confirmation", :class => "control-label" %>
			  <div class="controls">
			    <%= f.password_field :password_confirmation, class: "input-large", placeholder: "Password Confirmation" %>
			  </div>
            </div>
		  
			<div class="control-group">
			  <%= f.label :first_name, "First Name", :class => "control-label" %>
		      <div class="controls">
			    <%= f.text_field :first_name, class: "input-large", placeholder: "First Name" %>
			  </div>
		    </div>
		  
		    <div class="control-group">
			  <%= f.label :last_name, "Last Name", :class => "control-label" %>
			  <div class="controls">
			    <%= f.text_field :last_name, class: "input-large", placeholder: "Last Name" %>
			  </div>
            </div>
          
	        <div class="control-group">
			  <%= f.label :address1, "Address Line 1", :class => "control-label" %>
		      <div class="controls">
			    <%= f.text_field :address1, class: "input-large", placeholder: "Address Line 1" %>
			  </div>
		    </div>
			
			<div class="control-group">
			  <%= f.label :address2, "Address Line 2", :class => "control-label" %>
		      <div class="controls">
			    <%= f.text_field :address2, class: "input-large", placeholder: "Address Line 2" %>
			  </div>
		    </div>
			
			<div class="control-group">
			  <%= f.label :city, "City", :class => "control-label" %>
		      <div class="controls">
			    <%= f.text_field :city, class: "input-large", placeholder: "City" %>
			  </div>
		    </div>
			
			<div class="control-group">
			  <%= f.label :state_province, "State/Province", :class => "control-label" %>
		      <div class="controls">
			    <%= f.text_field :state_province, class: "input-large", placeholder: "State/Province" %>
			  </div>
		    </div>
			
			<div class="control-group">
			  <%= f.label :country, "Country", :class => "control-label" %>
		      <div class="controls">
			    <%= f.text_field :country, class: "input-large", placeholder: "Country" %>
			  </div>
		    </div>
			
			<div class="control-group">
			  <%= f.label :zip_postalcode, "ZIP/Postal Code", :class => "control-label" %>
		      <div class="controls">
			    <%= f.text_field :zip_postalcode, class: "input-large", placeholder: "ZIP/Postal Code" %>
			  </div>
		    </div>
			
			<div class="control-group">
			  <%= f.label :phone, "Telephone", :class => "control-label" %>
		      <div class="controls">
			    <%= f.text_field :phone, class: "input-large", placeholder: "Telephone" %>
			  </div>
		    </div>
			
			<div class="control-group">
			  <%= f.label :fs_password, "FamilySearch Password", :class => "control-label" %>
			  <div class="controls">
			    <%= f.password_field :fs_password, class: "input-large", placeholder: "FamilySearch Password" %>
			  </div>
            </div>
			
			
            <div class="control-group">
		      <div class="controls">
			    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
			  </div>
	        </div>
		<% end %>
	</div>
</div>
