<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span9 offset2">
		<%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
		
			<%= render 'shared/error_messages', :object => f.object %>
            
		  <div class="control-group">
			<%= f.label :first_name, "First Name *", :class => "control-label" %>
		    <div class="controls">
			  <%= f.text_field :first_name, class: "input-large", autofocus: true, placeholder: "First Name" %>
			</div>
		  </div>
		  
		  <div class="control-group">
			<%= f.label :last_name, "Last Name *", :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :last_name, class: "input-large", placeholder: "Last Name" %>
			</div>
          </div>
		  
		  <div class="control-group">
			<%= f.label :email, "Email *", :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :email, class: "input-large", placeholder: "Email" %>
			</div>
          </div>
			
		  <div class="control-group">
			<%= f.label :password, "Password *", :class => "control-label" %>
			<div class="controls">
			  <%= f.password_field :password, class: "input-large", placeholder: "Password" %>
			  <span class="help-inline">8 character minimum</span>
			</div>
          </div>
			
		  <div class="control-group">
			<%= f.label :password_confirmation, "Password Confirmation *", :class => "control-label" %>
			<div class="controls">
			  <%= f.password_field :password_confirmation, class: "input-large", placeholder: "Password Confirmation" %>
			</div>
          </div>
		  
		  <div class="control-group">
		    <%= f.label :lead_source, "How did you find out about us? *", :class => "control-label", :remote => true %>
			  <div class="controls styled-select">
			    <%= f.select(:lead_source, options_for_select([['--  Please Select  --',nil],['FamilySearch.org','FamilySearch.org'], ['FamilySearch Center','FamilySearch Center'], ['Family History Library','Family History Library'], ['Friend','Friend'], ['PAF Users Group','PAF Users Group'], ['PAF Support','PAF Support'], ['PAF Review','PAF Review'], ['Cyndis List','Cyndis List'], ['Mormon Times','Mormon Times'], ['Internet Search','Internet Search'], ['Other','Other']]), class: "input-large") %>
			  </div>
          </div>
		  
		  <div class="control-group", id="other_lead_source">
			<%= f.label :lead_source_other, "Other Source *", :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :lead_source_other, class: "input-large", placeholder: "Other Lead Source" %>
			</div>
          </div>
		  		  
		  <div class="control-group">
			<%= f.label :fs_username, "FamilySearch User Name", :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :fs_username, class: "input-large", placeholder: "FamilySearch User Name" %>
			</div>
          </div>
		  
		  <div class="control-group">
		    <%= f.label :fs_password, "FamilySearch Password", :class => "control-label" %>
			  <div class="controls">
			    <%= f.password_field :fs_password, class: "input-large", placeholder: "FamilySearch Password" %>
			  </div>
          </div>
		  
		  <% modal_html = capture do %>
            Accept <%= link_to('Terms of Use *', "#myTOUModal", :"data-toggle" => "modal") %>
          <% end %>

		  <div class="control-group">
		    <%= f.label :terms, modal_html, :class => "control-label" %>
			<div class="controls">
			  <%= f.check_box :terms %>
			</div>
		  </div>
		  
		  <div class="control-group">
		    <div class="controls">
			  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			</div>
	      </div>
		  
		<% end %>

		<%= render :partial => 'static_pages/modal_tou' %>
		
	</div>
</div>