<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= full_title(yield(:title)) %></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
		
    

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <h4><%= link_to "Reports Home", reports_path %></h4> </br>
			
			<%= form_tag("/reports/run_reports", :method => "get") do %>
              <p>
			    <b>Step 1: Select Starting Person</b>
			  <br>
			    <%= radio_button_tag(:person_select, :me, true, :class => "radio inline") %>&nbsp;Self
			    <%= radio_button_tag(:person_select, "other", false, :class => "radio inline") %>&nbsp;Other
			  
			    <span id="other_person">
			      <%= text_field_tag 'other_person_field', nil, :maxlength => 8, :class => "input-medium" %>
                </span>
			  </p>
			  <br>
			  
			  <p>
			    <b>Step 2: Load Data</b>
			  <br>
			    <div class="progress progress-striped">
                  <div class="bar" style="width: 40%;"></div>
                </div>
                <%#= link_to "Load", "#", :id => "Load", :class => "btn btn-small btn-info" %>
				<%#= link_to "Load", {:controller => :reports, :action => :build_detail_controller}, :class => "btn btn-small btn-info" %>	
				<%= button_to_function "Load", "return false", :id => "Load", :class => "btn btn-small btn-info" %>
			  </p>
			  
			  <hr>
			  <hr>
			  
			  <p>
			    <b>Step 3: Select Report</b>
			  <br>
			    <div class="controls styled-select">
			      <%= select_tag :report_name, options_for_select([['--  Please Select  --',nil],['End-of-Line Ancestors','End-of-Line Ancestors'], ['Direct Line Ancestors','Direct Line Ancestors'], ['Missing Birth Date','Missing Birth Date'], ['Missing Birth Place','Missing Birth Place'], ['Incomplete Birth Date','Incomplete Birth Date'], ['Missing Death Date','Missing Death Date'], ['Missing Death Place','Missing Death Place'], ['Incomplete Death Date','Incomplete Death Date']]), class: "input-xlarge" %>
			    </div>
			  </p>
			 			  
			  <p>
			    <b>Step 4: Run Report</b>
			  <br>
				<%= submit_tag "Run Report", class: "btn btn-large btn-success" %>
			  </p>
			<% end %>
			
			
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
		  <% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		  <% end %>
          <div class="row-fluid">
            <%= yield %>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

    </div><!--/.fluid-container-->
	
  </body>
</html>
